@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-padding: 8vw;
    --radius: 0.5rem;
    --font-default: "Geist Sans";
  }

  :root[data-theme="light"] {
    --color-primary: 238 108 077;
    --color-secondary: 000 000 000;
    --color-foreground: 041 050 065;
    --color-background: 223 239 245;
    --color-front: 028 028 028;
    --color-back: 255 255 255;
  }
  :root[data-theme="dark"] {
    --color-primary: 037 099 235;
    --color-secondary: 255 255 255;
    --color-foreground: 255 255 255;
    --color-background: 255 255 255;
    --color-front: 255 255 255;
    --color-back: 255 255 255;
  }
}

@layer base {
  html {
    @apply bg-background text-front font-default scroll-smooth;
  }

  body {
    @apply m-0 p-0;
  }

  ::-webkit-scrollbar-thumb {
    transition-duration: 300ms;
  }
}
